body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    max-height: 97%;
    box-shadow: 0px 0px 10px #0000001a;
}

#display {
    width: 90%;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: right;
}

#result {
    width: 90%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    text-align: right;
}

#checkBarcode {
    width: 90%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-align: right;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    grid-template-rows: repeat(6, 1fr);     /* Ajusta para tener 6 filas */
    grid-gap: 5px;
}

/* Botón + que ocupará dos filas */
button.plus {
    grid-row: span 2;  /* Hace que el botón + abarque dos filas */
    background-color: #058a69; /* Color de fondo opcional */
    color: white;  /* Color del texto opcional */
    font-size: 35px;  /* Tamaño del texto opcional */
}

button.equal {     
    background-color: #2e8dcc; /* Color de fondo opcional */
    color: white; /* Color del texto opcional */
    font-size: 30px;
}

button.number {
    font-size: 30px;
    background-color: #000000; /* Color de fondo para los números */
    color: white;              /* Color de texto para los números */
}


button {
    padding: 25px; /* Ajusta el tamaño del botón */
    font-size: 25px;    /* Ajusta el tamaño de la fuente */
    background-color: #6868689a; /* Color de fondo */
    color: #ffffff;     /* Color de texto */
    border: none;       /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    transition: transform 0.1s ease; /* Transición suave para el movimiento */
}

/* Efecto de escala cuando se presiona el botón */
button:active {
    transform: scale(0.95); /* Aplana el botón al 95% de su tamaño */
}
